<%= form_for(bag) do |f| %>
  <% if bag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bag.errors.count, "error") %> prohibited this bag from being saved:</h2>

      <ul>
      <% bag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_id %>
    <%= f.collection_select :code_id, Code.order(:code),:id,:code, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :colour_id %>
    <%= f.collection_select :colour_id, Colour.order(:colour),:id,:colour, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
