<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @bag.code %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @bag.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bag.price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bag.price %>
</p>

<%= link_to 'Edit', edit_bag_path(@bag) %> |
<%= link_to 'Back', bags_path %>
