<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bag_id %>
    <%= f.collection_select :bag_id, Bag.order(:code_id,:colour_id),:id,:name_with_code_and_colour_and_price, include_blank: true %>
  </div>
  
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  
  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
